/* GENERAL + TYPOGRAPHY */

html {
    height: 100vh;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: lightblue;
    background-size: 50% 10px;
    background-position: bottom center;
    font-family: 'Comfortaa', cursive;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    color: white;
    margin: 0;
}


/* BUTTONS */

button {
    font-family: inherit;
    font-weight: 700;
    background: darkcyan;
    color: white;
    border: none;
    min-width: 16em;
    padding: .5em 2em;
    border-radius: 20px;
}

.btn:hover {
    background: black;
    cursor: pointer;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1em;
}

#push-btn, #unshift-btn {
    background-color: rgba(3, 165, 252, .9);
    margin-bottom: .5em;
}

#shift-btn,#pop-btn {
    background-color: rgba(233, 44, 107, .9);
}


/* LAYOUT */

header,
.interface {
    background-color: rgba(3, 165, 252, .4)
}

header {
    margin: 0;
}

.display {
    min-height: 20vh;
}

.interface {
    padding-bottom: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.interface__controls {
    display: flex;
}

#emoji-container {
    min-height: 3em;
    margin-bottom: 1em;
    text-align: center;
    background-color: rgba(3, 165, 252, .9);
}

#emoji-container span {
    margin: .1em;
    font-size: 30px;
}

input {
    font-family: inherit;
    margin: 0 auto;
    display: inline-block;
    min-width: 8em;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    text-align: center;
}